@import url(https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp);

html {
    font-size: 16px;
}

img.homeLinkImage {
    max-width: 14em;
    height: auto;
}

h1.cartTitle {
    margin-left: -0.1rem;
    line-height: 3em;
    font-size: 1.5em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

table.cart {
    text-align: center;
}

table.cart td{
    border-bottom: 1px solid;
}

p.cartDetail {
    padding-top: 0.7rem;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.cartPrice {
    padding-top: 0.7rem;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #990000;
}

p.input {
    text-align: left;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

input.inputDetail {
    width: 25rem;
    height: 1.5rem;
    padding-top: 0.5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    letter-spacing: 1px;
}

p.discount {
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.total {
    padding-top: 0.7rem;
    padding-right: 3rem;
    text-align: right;
}

span.totalPrice {
    padding-right: 0.5rem;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

span.totalPriceNumber {
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #990000;
}

p.checkout {
    text-align: right;
    padding-right: 2rem;
}

input.checkout {
    width: 10rem;
    height: 2rem;
    border: none;
    outline: none;
    background: #3d708f;
    font-family: "Noto Serif TC", "serif";
    color: #ffffff;
}

input.checkout:hover {
    background: #122d3e;
}

p.Information {
    font-size: 0.8em;
    line-height: 2px;
    font-family: "Noto Serif TC", "serif";
    color: #000000;
}

img.m_homeLinkImage {
    margin-top: 1rem;
    height: 3rem;
}

h1.m_cartTitle {
    line-height: 3em;
    font-size: 1.2em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.m_cartDetail {
    padding-top: 0.7rem;
    font-size: 0.8em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.m_cartPrice {
    padding-top: 0.7rem;
    font-size: 0.85em;
    font-family: "Noto Serif TC", "serif";
    color: #990000;
}

input.m_inputDetail {
    width: 80%;
    height: 1.5rem;
    padding-top: 0.5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    letter-spacing: 1px;
}

p.m_total {
    padding-top: 0.7rem;
    padding-right: 1rem;
    text-align: right;
}

span.m_totalPrice {
    padding-right: 0.5rem;
    font-size: 0.9rem;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

span.m_totalPriceNumber {
    font-size: 0.85rem;
    font-family: "Noto Serif TC", "serif";
    color: #990000;
}

p.m_discount {
    font-size: 0.9em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

input.m_checkout {
    width: 7rem;
    height: 2rem;
    border: none;
    outline: none;
    background: #3d708f;
    font-family: "Noto Serif TC", "serif";
    color: #ffffff;
}