@import url(https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp);

html {
    font-size: 16px;
}

img.homeLinkImage {
    max-width: 14em;
    height: auto;
}

h1.registerTitle {
    margin-left: -0.1rem;
    line-height: 3em;
    font-size: 1.5em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.inputTitle {
    line-height: 0;
    font-size: 1.05em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.input {
    text-align: center;
}

input.inputData {
    width: 30rem;
    height: 2rem;
    outline: 0;
    border: 0.01em solid;
    border-radius: 5px;
    border-color: #122d3e;
    letter-spacing: 2px;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

input.inputData:focus {
    border-color: #3d708f;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

input.register {
    width: 30rem;
    height: 2.2rem;
    margin-top: 1rem;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #ffffff;
    background: #3d708f;
}

input.register:hover {
    background: #122d3e;
}

p.login {
    float: right;
    line-height: 0;
    font-size: 0.8em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

a.login {
    color: #3d708f;
}

a.login:hover {
    color: #122d3e;
}

table.about {
    width: 68rem;
    margin-top: 5.5rem;
    text-align: center;
}

td.about {
    width: 15rem;
}

p.aboutHead {
    font-size: 1.1em;
    line-height: 0.3em;
    font-weight: bolder;
    font-family: "Noto Serif TC", "serif";
    color: #ffffff;
}

p.aboutBody {
    line-height: 0.2em;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #bbbbbb;
}

a.aboutBody {
    line-height: 0.2em;
    text-decoration: none;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #bbbbbb;
}

a.aboutBody:hover {
    color: #ffffff;
}

p.Information {
    font-size: 0.8em;
    line-height: 2px;
    font-family: "Noto Serif TC", "serif";
    color: #000000;
}

img.m_homeLinkImage {
    margin-top: 1rem;
    height: 3rem;
}

h1.m_registerTitle {
    line-height: 3em;
    font-size: 1.2em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.m_inputTitle {
    line-height: 0;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

input.m_inputData {
    width: 100%;
    height: 2rem;
    outline: 0;
    border: 0.01em solid;
    border-radius: 5px;
    border-color: #122d3e;
    letter-spacing: 2px;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

input.m_inputData:focus {
    border-color: #3d708f;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

input.m_register {
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #ffffff;
    background: #3d708f;
}