@import url(https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp);

html {
    font-size: 16px;
}

img.homeLinkImage {
    max-width: 14em;
    height: auto;
}

h1.pointTitle {
    margin-left: -0.1rem;
    line-height: 3em;
    font-size: 1.5em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.inputTitle {
    line-height: 0;
    font-size: 1.05em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.input {
    letter-spacing: 2px;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.inputDetial {
    line-height: 0.8em;
    letter-spacing: 2px;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

input.point {
    width: 30rem;
    height: 2.2rem;
    margin-top: 1rem;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #ffffff;
    background: #3d708f;
}

input.point:hover {
    background: #122d3e;
}

table.about {
    width: 68rem;
    margin-top: 5.5rem;
    text-align: center;
}

td.about {
    width: 15rem;
}

p.aboutHead {
    font-size: 1.1em;
    line-height: 0.3em;
    font-weight: bolder;
    font-family: "Noto Serif TC", "serif";
    color: #ffffff;
}

p.aboutBody {
    line-height: 0.2em;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #bbbbbb;
}

a.aboutBody {
    line-height: 0.2em;
    text-decoration: none;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #bbbbbb;
}

a.aboutBody:hover {
    color: #ffffff;
}

p.Information {
    font-size: 0.8em;
    line-height: 2px;
    font-family: "Noto Serif TC", "serif";
    color: #000000;
}

img.m_homeLinkImage {
    margin-top: 1rem;
    height: 3rem;
}

h1.m_pointTitle {
    line-height: 3em;
    font-size: 1.2em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.m_inputTitle {
    line-height: 0;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.m_inputDetial {
    line-height: 0.8em;
    letter-spacing: 2px;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}