@import url(https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp);

html {
    font-size: 16px;
}

img.homeLinkImage {
    max-width: 14em;
    height: auto;
}

h1.cartTitle {
    margin-left: -0.1rem;
    line-height: 3em;
    font-size: 1.5em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

table.cart {
    text-align: center;
}

table.cart td {
    border-bottom: 1px solid;
    border-color: #777777;
}

p.cartDetail {
    padding-top: 0.7rem;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.cartPrice {
    padding-top: 0.7rem;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #990000;
}

div.numberButton {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

input.cartText {
    margin: 0;
    width: 5rem;
    border: 0.08em solid;
    border-color: #777777;
    text-align: center;
    outline: none;
    background: #ffffff;
}

input.cartButtonM {
    margin: 0;
    border: 0.08em solid;
    border-right: none;
    border-color: #777777;
    outline: none;
    background: #ffffff;
}

input.cartButtonA {
    margin: 0;
    border: 0.08em solid;
    border-left: none;
    border-color: #777777;
    outline: none;
    background: #ffffff;
}

p.total {
    padding-top: 0.7rem;
    padding-right: 3rem;
    text-align: right;
}

span.totalPrice {
    padding-right: 0.5rem;
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

span.totalPriceNumber {
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #990000;
}

p.discount {
    font-size: 1em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

input.discountCouponNumber {
    width: 10rem;
    height: 1.5rem;
    outline: 0;
    border: 0.01em solid;
    border-color: #122d3e;
    letter-spacing: 2px;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.input {
    text-align: right;
    padding-right: 2rem;
}

input.cart {
    width: 10rem;
    height: 2rem;
    border: none;
    outline: none;
    background: #3d708f;
    font-family: "Noto Serif TC", "serif";
    color: #ffffff;
}

input.cart:hover {
    background: #122d3e;
}

p.Information {
    font-size: 0.8em;
    line-height: 2px;
    font-family: "Noto Serif TC", "serif";
    color: #000000;
}

img.m_homeLinkImage {
    margin-top: 1rem;
    height: 3rem;
}

h1.m_cartTitle {
    line-height: 3em;
    font-size: 1.2em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

input.m_cartText {
    margin: 0;
    width: 3rem;
    border: 0.08em solid;
    border-color: #777777;
    text-align: center;
    outline: none;
    background: #ffffff;
}

input.m_cartButtonM {
    margin: 0;
    border: 0.08em solid;
    border-right: none;
    border-color: #777777;
    outline: none;
    background: #ffffff;
}

input.m_cartButtonA {
    margin: 0;
    border: 0.08em solid;
    border-left: none;
    border-color: #777777;
    outline: none;
    background: #ffffff;
}

p.m_cartDetail {
    padding-top: 0.7rem;
    font-size: 0.8em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

p.m_total {
    padding-top: 0.7rem;
    padding-right: 1rem;
    text-align: right;
}

span.m_totalPrice {
    padding-right: 0.5rem;
    font-size: 0.9rem;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

span.m_totalPriceNumber {
    font-size: 0.85rem;
    font-family: "Noto Serif TC", "serif";
    color: #990000;
}

p.m_discount {
    font-size: 0.9em;
    font-family: "Noto Serif TC", "serif";
    color: #122d3e;
}

input.m_cart {
    width: 7rem;
    height: 2rem;
    border: none;
    outline: none;
    background: #3d708f;
    font-family: "Noto Serif TC", "serif";
    color: #ffffff;
}